@page "/orders"
@inject HttpClient Http

<PageTitle>Orders</PageTitle>

<h1>Orders</h1>

@if (orders == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>State</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var order in orders)
            {
                <tr>
                    <td>@order.Name</td>
                    <td>@order.State</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {

    private Order[]? orders;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            orders = await Http.GetFromJsonAsync<Order[]>("orders");
        }
        catch (Exception ex)
        {
            throw ex;
        }
    }

}
